<div class="wrapper">
  <!-- Navbar -->
<app-navbar></app-navbar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container --> 
<app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
  <app-content-header></app-content-header>

  <button (click)="add()">Dynamically Add Component</button>

<!-- This is where we will insert the dynamic components -->
  
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-6 connectedSortable">
                       <!-- Custom tabs (Charts with tabs)-->
          
            <!-- /.card -->
            <div #card1 class="connectedSortable"></div>

          </section>
          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-6 connectedSortable">

            <!-- Map card -->
           
            <!-- /.card -->
            <div #card2 class="connectedSortable"></div>
          </section>
          
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<router-outlet></router-outlet>